<div class="colorlib-loader"></div>
<aside id="colorlib-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12 breadcrumbs text-center">
                <h2>Accommodation</h2>
                <p><span><a href="index.html">Blog</a></span> / <span>Accommodation</span></p>
            </div>
        </div>
    </div>
</aside>
<div id="colorlib-container">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row row-pb-md">
                    <div class="col-md-6">
                        <div class="blog-entry">
                            <div class="blog-img">
                                <a href="/Home/Accommodation">
                                    <img src="~/travel/stratosphere.jpg" style="zoom:2;" class="img-responsive">
                                </a>
                            </div>
                            <div class="desc">
                                <p class="meta">
                                    <span class="cat"><a href="#">Travel</a></span>
                                    <span class="date">3 December 2019</span>
                                    <span class="pos">By <a href="#">Deniz</a></span>
                                </p>
                                <h2><a href="/Home/Accommodation">Accommodation in Las Vegas</a></h2>
                                <p>
                                    STRAT Otel.I stayed in STRAT.The STRAT Hotel, Casino, and SkyPod (formerly the Stratosphere) is a hotel, casino and tower located on Las Vegas Boulevard
                                    just north of the Las Vegas Strip in Las Vegas, Nevada, United States. The STRAT is owned and operated by Golden Entertainment, which acquired the resort
                                    and three other properties from American Casino & Entertainment Properties for $850 million in 2017.It was has a good history of beginning.In 1974, 
                                    Bob Stupak opened a small casino in Las Vegas known as Bob Stupak's World Famous Million-Dollar Historic Gambling Museum and Casino, located 
                                    north of the Las Vegas Strip on land previously occupied by the Todkill/Bill Hayden Lincoln Mercury Dealership. The casino burned down two months later,
                                    and Stupak subsequently opened his Vegas World hotel and casino on the same property in 1979.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="blog-entry">
                            <div class="blog-img">
                                <a href="/Home/Accommodation">
                                    <img src="~/travel/nyhome.jpg" style="zoom:2;" class="img-responsive">
                                </a>
                            </div>
                            <div class="desc">
                                <p class="meta">
                                    <span class="cat"><a href="#">Travel</a></span>
                                    <span class="date">3 December 2019</span>
                                    <span class="pos">By <a href="#">Deniz</a></span>
                                </p>
                                <h2><a href="/Home/Accommodation">Accommodation in New York</a></h2>
                                <p>I stayed in Chprisshill-Brooklyn near the metro station thats why sensible to stay here. And we used AirBnb to accommodation. Cypress Hills is a neighborhood
                                in New York City, New York with a population of 58,901. Cypress Hills is in Kings County. Living in Cypress Hills offers residents a dense urban feel 
                                and most residents rent their homes. In Cypress Hills there are a lot of bars, restaurants, coffee shops, and parks. Many families live in Cypress Hills
                                and residents tend to be liberal. The public schools in Cypress Hills are above average.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-pb-md">
                    <div class="col-md-6">
                        <div class="blog-entry">
                            <div class="blog-img">
                                <a href="/Home/Accommodation">
                                    <img src="~/travel/hplace.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div class="desc">
                                <p class="meta">
                                    <span class="cat"><a href="#">Travel</a></span>
                                    <span class="date">3 December 2019</span>
                                    <span class="pos">By <a href="#">Deniz</a></span>
                                </p>
                                <h2><a href="/Home/Accommodation">Accommodation in Los Angelas</a></h2>
                                <p>
                                    I stayed in H Place Hostel it has good ambiance and people. Located 1.1 km from Capitol Records Building, H Place provides accommodation with a shared lounge, a terrace and a shared kitchen for your convenience.
                                    Free WiFi is provided throughout the property and private parking is available on site. Dolby Theater is 2.1 km from the homestay, while Melrose Avenue
                                    is 2.5 km away. The nearest airport is Hollywood Burbank Airport, 15 km from H Place.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="blog-entry">
                            <div class="blog-img">
                                <a href="/Home/Accommodation">
                                    <img src="~/travel/tuscorora.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div class="desc">
                                <p class="meta">
                                    <span class="cat"><a href="#">Travel</a></span>
                                    <span class="date">3 December 2019</span>
                                    <span class="pos">By <a href="#">Deniz</a></span>
                                </p>
                                <h2><a href="/Home/Accommodation">Accommodation in Leesburg/VA</a></h2>
                                <p>All of my memories began in the apartment. Full of friendship and nice ambiance.Tuscarora Creek is situated in Leesburg, VA, in Loudoun County.
                                Each apartment features European style kitchens, ceramic baths, and private balconies as well as a resort-style pool, beautifully manicured grounds,
                                and a new tot lot. Located just moments from bike trails and the scenic Blue Ridge Mountains as well as shopping and great restaurants, lose yourself
                                and take a step back in time and experience this 250 year-old town. HOME. From the moment you walk in the door.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



