<div class="colorlib-loader"></div>
    <aside id="colorlib-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12 breadcrumbs text-center">
                    <h2>Blog</h2>
                    <p><span><a href="index.html">Home</a></span> / <span>Blog</span></p>
                </div>
            </div>
        </div>
    </aside>
    <div id="colorlib-container">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row row-pb-md">
                        <div class="col-md-6">
                            <div class="blog-entry">
                                <div class="blog-img">
                                    <a href="/Home/Accommodation">
                                        <img src="~/travel/konaklama.PNG" class="img-responsive">
                                    </a>
                                </div>
                                <div class="desc">
                                    <p class="meta">
                                        <span class="cat"><a href="#">Blog</a></span>
                                        <span class="date">5 December 2019</span>
                                        <span class="pos">By <a href="#">Deniz</a></span>
                                    </p>
                                    <h2><a href="/Home/Accommodation">Accomodation</a></h2>
                                    <p> </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="blog-entry">
                                <div class="blog-img">
                                    <a href="/Home/Leesburg">
                                        <img src="~/travel/blogleesburg.jpg" class="img-responsive">
                                    </a>
                                </div>
                                <div class="desc">
                                    <p class="meta">
                                        <span class="cat"><a href="#">Blog</a></span>
                                        <span class="date">5 December 2019</span>
                                        <span class="pos">By <a href="#">Deniz</a></span>
                                    </p>
                                    <h2><a href="/Home/Leesburg">Leesburg - Home</a></h2>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-pb-md">
                        <div class="col-md-12">
                            <div class="blog-entry">
                                <div class="blog-img">
                                    <div class="video colorlib-video" style="background-image: url(images/blog-8.jpg);">
                                        <a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-play"></i></a>
                                        <div class="overlay"></div>
                                    </div>
                                </div>
                                <div class="desc">
                                    <p class="meta">
                                        <span class="cat"><a href="#">Blog</a></span>
                                        <span class="date">5 December 2019</span>
                                        <span class="pos">By <a href="#">Deniz</a></span>
                                    </p>
                                    <h2><a href="/Home/Video">Watch our unforgettable memories!</a></h2>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-pb-md">
                        <div class="col-md-6">
                            <div class="blog-entry">
                                <div class="blog-img">
                                    <a href="/Home/Writing">
                                        <img src="~/images/img_bg_3.jpg" class="img-responsive">
                                    </a>
                                </div>
                                <div class="desc">
                                    <p class="meta">
                                        <span class="cat"><a href="#">Blog</a></span>
                                        <span class="date">5 December 2019</span>
                                        <span class="pos">By <a href="#">Deniz</a></span>
                                    </p>
                                    <h2><a href="/Home/Writing">Writing</a></h2>
                                    <p> </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="blog-entry">
                                <div class="blog-img">
                                    <a href="/Home/Eating"><img src="~/images/blog-7.jpg"class="img-responsive">
                                    </a>
                                </div>
                                <div class="desc">
                                    <p class="meta">
                                        <span class="cat"><a href="#">Blog</a></span>
                                        <span class="date">5 December 2019</span>
                                        <span class="pos">By <a href="#">Deniz</a></span>
                                    </p>
                                    <h2><a href="/Home/Eating">Eating</a></h2>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                </div>
            </div>
        </div>