<div class="colorlib-loader"></div>
<aside id="colorlib-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12 breadcrumbs text-center">
                <h2>Washington DC</h2>
                <p><span><a href="index.html">Travel</a></span> / <span>Washington DC</span></p>
            </div>
        </div>
    </div>
</aside>
<div class="col-md-12">
    <div class="blog-entry">
        <div class="blog-img">
            <a href="/Home/DC">
                <img src="~/travel/capitol.jpg" class="img-responsive">
            </a>
        </div>
        <div class="desc">
            <p class="meta">
                <span class="cat"><a href="#">Travel</a></span>
                <span class="date">3 December 2019</span>
                <span class="pos">By <a href="#">Deniz</a></span>
            </p>
            <h2><a href="/Home/DC">Destination : Washington DC</a></h2>
            <p>
                The signing of the Residence Act on July 16, 1790, approved the creation of a capital district located 
                along the Potomac River on the country's East Coast. The U.S. Constitution provided for a federal district
                under the exclusive jurisdiction of the U.S. Congress, and the District is therefore not a part of any U.S. state.
                The states of Maryland and Virginia each donated land to form the federal district, which included the pre-existing
                settlements of Georgetown and Alexandria. The City of Washington was founded in 1791 to serve as the new national capital.
                In 1846, Congress returned the land originally ceded by Virginia, including the city of Alexandria; in 1871, 
                it created a single municipal government for the remaining portion of the District. Washington had an estimated population
                of 702,455 as of July 2018, making it the 20th most populous city in the United States. Commuters from the surrounding
                Maryland and Virginia suburbs raise the city's daytime population to more than one million during the workweek.
            </p>
        </div>
    </div>
</div>
