<div class="colorlib-loader"></div>
<aside id="colorlib-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12 breadcrumbs text-center">
                <h2>Eating</h2>
                <p><span><a href="index.html">Blog</a></span> / <span>Eating</span></p>
            </div>
        </div>
    </div>
</aside>
<div id="colorlib-container">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row row-pb-md">
                    <div class="col-md-6">
                        <div class="blog-entry">
                            <div class="blog-img">
                                <a href="/Home/Eating"><img src="~/travel/dumbodikey.PNG" class="img-responsive"></a>
                            </div>
                            <div class="desc">
                                <p class="meta">
                                    <span class="cat"><a href="#">Travel</a></span>
                                    <span class="date">3 December 2019</span>
                                    <span class="pos">By <a href="#">Deniz</a></span>
                                </p>
                                <h2><a href="/Home/Eating">Destination : New York City</a></h2>
                                <p> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="blog-entry">
                            <div class="blog-slider">
                                <div class="owl-carousel">
                                    <div class="item">
                                        <a href="/Home/Eating" class="image-popup-link">
                                            <img src="~/travel/mon.PNG" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a href="/Home/Eating" class="image-popup-link">
                                            <img src="~/travel/pacificpark.PNG" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="desc">
                                <p class="meta">
                                    <span class="cat"><a href="#">Travel</a></span>
                                    <span class="date">3 December 2019</span>
                                    <span class="pos">By <a href="#">Deniz</a></span>
                                </p>
                                <h2><a href="/Home/Eating">Destination : Santa Monica</a></h2>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-pb-md">
                    <div class="col-md-6">
                        <div class="blog-entry">
                            <div class="blog-img">
                                <a href="/Home/Eating">
                                    <img src="~/travel/hollywood.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div class="desc">
                                <p class="meta">
                                    <span class="cat"><a href="#">Travel</a></span>
                                    <span class="date">3 December 2019</span>
                                    <span class="pos">By <a href="#">Deniz</a></span>
                                </p>
                                <h2><a href="/Home/Eating">Destination : Los Angelas</a></h2>
                                <p> </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="blog-entry">
                            <div class="blog-img">
                                <a href="/Home/Eating">
                                    <img src="~/travel/Leesburg.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div class="desc">
                                <p class="meta">
                                    <span class="cat"><a href="#">Travel</a></span>
                                    <span class="date">3 December 2019</span>
                                    <span class="pos">By <a href="#">Deniz</a></span>
                                </p>
                                <h2><a href="/Home/Eating">Destination : Leesburg/VA</a></h2>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-pb-md">
                    <div class="col-md-6">
                        <div class="blog-entry">
                            <div class="blog-img">
                                <a href="/Home/Eating">
                                    <img src="~/travel/vegas.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div class="desc">
                                <p class="meta">
                                    <span class="cat"><a href="#">Travel</a></span>
                                    <span class="date">3 December 2019</span>
                                    <span class="pos">By <a href="#">Deniz</a></span>
                                </p>
                                <h2><a href="/Home/Eating">Destination : Las Vegas</a></h2>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="blog-entry">
                            <div class="blog-img">
                                <a href="/Home/Eating"> <img src="~/travel/capitol.jpg" class="img-responsive"></a>
                            </div>
                            <div class="desc">
                                <p class="meta">
                                    <span class="cat"><a href="#">Travel</a></span>
                                    <span class="date">3 December 2019</span>
                                    <span class="pos">By <a href="#">Deniz</a></span>
                                </p>
                                <h2><a href="/Home/Eating">Destination : Washington DC</a></h2>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


