    <aside id="colorlib-hero">
        <div class="flexslider">
            <ul class="slides">
                    <li style="background-image: url('../../travel/mon.PNG');">
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-md-pull-3 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
                                    <div class="slider-text-inner">
                                        <div class="desc">
                                            <p class="meta">
                                                <span class="cat"><a href="#">Travel</a></span>
                                                <span class="date">20 November 2019</span>
                                                <span class="pos">By <a href="#">Deniz</a></span>
                                            </p>
                                            <h1>Perfect day in Santa Monica!</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url('../../travel/pacificpark.PNG');">
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-md-pull-3 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
                                    <div class="slider-text-inner">
                                        <div class="desc">
                                            <p class="meta">
                                                <span class="cat"><a href="#">Travel</a></span>
                                                <span class="date">20 November 2019</span>
                                                <span class="pos">By <a href="#">Deniz</a></span>
                                            </p>
                                            <h1>Welcome to LA, let's discover it!</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url('../../travel/brooklyn.PNG');">
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-md-pull-3 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
                                    <div class="slider-text-inner">
                                        <div class="desc">
                                            <p class="meta">
                                                <span class="cat"><a href="#">Travel</a></span>
                                                <span class="date">20 November 2019</span>
                                                <span class="pos">By <a href="#">Deniz</a></span>
                                            </p>
                                            <h1>Here it from New York...</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url('../../travel/dumbo.jpg');">
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-md-pull-3 col-sm-12 col-xs-12 col-md-offset-3 slider-text">
                                    <div class="slider-text-inner">
                                        <div class="desc">
                                            <p class="meta">
                                                <span class="cat"><a href="#">Travel</a></span>
                                                <span class="date">20 November 2019</span>
                                                <span class="pos">By <a href="#">Deniz</a></span>
                                            </p>
                                            <h1>in one of the best place in NYC : "DUMBO"</h1>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
            </ul>
        </div>
    </aside>
    <div id="colorlib-container">
        <div class="container">
            <div class="row row-pb-md">
                <div class="col-md-4">
                    <div class="blog-entry">
                        <div class="blog-img">
                            <a href="/Home/Vegas"><img src="~/travel/vegas.jpg" class="img-responsive"></a>
                        </div>
                        <div class="desc">
                            <p class="meta">
                                <span class="cat"><a eahref="#">Travel</a></span>
                                <span class="date">20 November 2019</span>
                                <span class="pos">By <a href="#">Deniz</a></span>
                            </p>
                            <h2><a href="/Home/Vegas">It's all about Fabulous Vegas</a></h2>
                            <p> You can find everything what you want to read about Vegas and its fabulous nights.  </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-entry">
                        <div class="blog-img">
                            <a href="/Home/SantaMon"><img src="~/travel/route.jpg" class="img-responsive"></a>
                        </div>
                        <div class="desc">
                            <p class="meta">
                                <span class="cat"><a href="#">Travel</a></span>
                                <span class="date">20 November 2019</span>
                                <span class="pos">By <a href="#">Deniz</a></span>
                            </p>
                            <h2><a href="/Home/SantaMon/">It's all about Santa Monica</a></h2>
                            <p>Welcome to Route 66 End of the Trail, let's read some sea-side Atlantic subjects.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-entry">
                        <div class="blog-slider">
                            <div class="owl-carousel">
                                <div class="item">
                                    <a href="/Home/NYC" class="image-popup-link"><img src="~/travel/dumbo.jpg" class="img-responsive" ></a>
                                </div>
                                <div class="item">
                                    <a href="/Home/NYC" class="image-popup-link"><img src="~/travel/dumbodikey.PNG" class="img-responsive"></a>
                                </div>
                            </div>
                        </div>
                        <div class="desc">
                            <p class="meta">
                                <span class="cat"><a href="#">Travel</a></span>
                                <span class="date">20 November 2019</span>
                                <span class="pos">By <a href="#">Deniz</a></span>
                            </p>
                            <h2><a href="/Home/NYC">It's all about NYC</a></h2>
                            <p>These streets will make you feel brand new, big lights will inspire you. Here it from New York!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-pb-md">
                <div class="col-md-4">
                    <div class="blog-entry">
                        <div class="blog-img">
                            <a href="/Home/DC"><img src="~/travel/capitol.jpg" class="img-responsive">
                            </a>
                        </div>
                        <div class="desc">
                            <p class="meta">
                                <span class="cat"><a href="#">Travel</a></span>
                                <span class="date">20 November 2019</span>
                                <span class="pos">By <a href="#">Deniz</a></span>
                            </p>
                            <h2><a href="/Home/DC">It's all about Washington DC</a></h2>
                            <p>DC o'clock! Time is up. Time to travel in DC where made of Trump's soul. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-entry">
                        <div class="blog-img">
                            <a href="/Home/Leesburg"><img src="~/travel/Leesburg.jpg" class="img-responsive" >
                            </a>
                        </div>
                        <div class="desc">
                            <p class="meta">
                                <span class="cat"><a href="#">Home</a></span>
                                <span class="date">20 November 2019</span>
                                <span class="pos">By <a href="#">Deniz</a></span>
                            </p>
                            <h2><a href="/Blog/myHome">It's all about HOME life</a></h2>
                            <p>"Home is where your heart is." My home was : Leesburg</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-entry">
                        <div class="blog-img">
                            <a href="/Home/LA">
                                <img src="~/travel/hollywood.jpg"  class="img-responsive" >
                            </a>
                        </div>
                        <div class="desc">
                            <p class="meta">
                                <span class="cat"><a href="#">Travel</a></span>
                                <span class="date">20 November 2019</span>
                                <span class="pos">By <a href="#">Deniz</a></span>
                            </p>
                            <h2><a href="/Home/LA">It's all about Los Angeles</a></h2>
                            <p>Sunset on Hollywood Boulevard and more... let's watch the view with my perspective.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-pb-md">
                <div class="col-md-8">
                    <div class="blog-entry">
                        <div class="blog-img">
                            <div class="video colorlib-video" style="background-image: url(~/images/blog-8.jpg);">
                                <a href="https://www.youtube.com/watch?v=E5DkdeD2O6Q" class="popup-vimeo"><i class="icon-play"></i></a>
                                <div class="overlay"></div>
                            </div>
                        </div>
                        <div class="desc">
                            <p class="meta">
                                <span class="cat"><a href="#">Video</a></span>
                                <span class="date">20 November 2019</span>
                                <span class="pos">By <a href="#">Deniz</a></span>
                            </p>
                            <h2><a href="/Home/Video">Watch our unforgettable memories.</a></h2>
                            <p>in USA we lived lots of things that we never forget. I want to share with you. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-entry">
                        <div class="blog-img">
                            <a href="/Home/Writing"><img src="~/images/blog-7.jpg" class="img-responsive"></a>
                        </div>
                        <div class="desc">
                            <p class="meta">
                                <span class="cat"><a href="#">Blog</a></span>
                                <span class="date">20 November 2019</span>
                                <span class="pos">By <a href="#">Deniz</a></span>
                            </p>
                            <h2><a href="/Home/Writing">It's all about writing.</a></h2>
                            <p> Wanderlust inside me. How did i explore that i must go somewhere ? </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-pb-md">
                <div class="col-md-4">
                    <div class="blog-entry">
                        <div class="blog-img">
                            <a href="/Home/Eating"><img src="~/images/blog-13.jpg"  class="img-responsive"></a>
                        </div>
                        <div class="desc">
                            <p class="meta">
                                <span class="cat"><a href="#">Eat</a></span>
                                <span class="date">20 November 2019</span>
                                <span class="pos">By <a href="#">Deniz</a></span>
                            </p>
                            <h2><a href="/Home/Eating">It's all about eating</a></h2>
                            <p>Everybody want to eat some good things. Listen to me and enjoy your meals! </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="blog-entry"> 
                        <div class="blog-img">
                            <a href="/Home/Accommodation"><img src="~/travel/konaklama.PNG" class="img-responsive" >
                            </a>
                        </div>
                        <div class="desc">
                            <p class="meta">
                                <span class="cat"><a href="#">Accommodation</a></span>
                                <span class="date">20 November 2019</span>
                                <span class="pos">By <a href="#">Deniz</a></span>
                            </p>
                            <h2><a href="/Home/Accommodation">It's all about accommodation</a></h2>
                            <p>You always need a suggestion for your accommodations.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
