<div class="colorlib-loader"></div>
<aside id="colorlib-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12 breadcrumbs text-center">
                <h2>Los Angelas</h2>
                <p><span><a href="index.html">Travel</a></span> / <span>Los Angelas</span></p>
            </div>
        </div>
    </div>
</aside>
<div class="col-md-12">
    <div class="blog-entry">
        <div class="blog-img">
            <a href="/Home/LA">
                <img src="~/travel/hollywood.jpg" class="img-responsive">
            </a>
        </div>
        <div class="desc">
            <p class="meta">
                <span class="cat"><a href="#">Travel</a></span>
                <span class="date">3 December 2019</span>
                <span class="pos">By <a href="#">Deniz</a></span>
            </p>
            <h2><a href="/Home/LA">Destination : LA</a></h2>
            <p>
                Historically home to the Chumash and Tongva, Los Angeles was claimed by Juan Rodríguez Cabrillo for Spain in 1542,
                along with the rest of what would become Alta California. The city was officially founded on September 4, 1781,
                by Spanish governor Felipe de Neve. It became a part of Mexico in 1821 following the Mexican War of Independence.
                In 1848, at the end of the Mexican–American War, Los Angeles and the rest of California were purchased as part of the
                Treaty of Guadalupe Hidalgo, and thus became part of the United States. Los Angeles was incorporated as a municipality
                on April 4, 1850, five months before California achieved statehood. The discovery of oil in the 1890s brought rapid
                growth to the city. The completion of the Los Angeles Aqueduct in 1913, which delivers water from Eastern California,
                later assured the city's continued rapid growth.
                Previous to the 1950s, Los Angeles' name had multiple pronunciations, but the soft "G" pronunciation is universal today.
                Sam Yorty was one of the last public figures who still used the hard "G" pronunciation.
            </p>
        </div>
    </div>
</div>