<div class="colorlib-loader"></div>
<aside id="colorlib-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12 breadcrumbs text-center">
                <h2>Leesburg</h2>
                <p><span><a href="index.html">Blog</a></span> / <span>Leesburg</span></p>
            </div>
        </div>
    </div>
</aside>
<div class="col-md-12">
    <div class="blog-entry">
        <div class="blog-img">
            <a href="/Home/Leesburg">
                <img src="~/travel/Leesburg.jpg" class="img-responsive">
            </a>
        </div>
        <div class="desc">
            <p class="meta">
                <span class="cat"><a href="#">Travel</a></span>
                <span class="date">3 December 2019</span>
                <span class="pos">By <a href="#">Deniz</a></span>
            </p>
            <h2><a href="/Home/Leesburg"> Destination : Leesburg-HOME</a></h2>
            <p>
                Leesburg is the county seat of Loudoun County, Virginia. It was built in 1740, 
                and it is occupied by some of Virginia’s most famous families, being named for Thomas Lee, 
                ancestor of Robert E. Lee. In the War of 1812, it became the temporary seat of the United States government,
                and in the Civil War, it changed hands several times. The town is situated at the base of Catoctin Mountain
                and adjacent to the Potomac River, 33 miles northwest of Washington, D.C., for which it has largely become
                a commuter suburb.Its population is 42,616, as of the 2010 census.
            </p>
        </div>

    </div>
</div>