<div class="colorlib-loader"></div>
<aside id="colorlib-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12 breadcrumbs text-center">
                <h2>NYC</h2>
                <p><span><a href="index.html">Travel</a></span> / <span>New York City</span></p>
            </div>
        </div>
    </div>
</aside>
<div class="col-md-12">
    <div class="blog-entry">
        <div class="blog-img">
            <a href="/Home/NYC">
                <img src="~/travel/brooklyn.png" class="img-responsive">
            </a>
        </div>
        <div class="desc">
            <p class="meta">
                <span class="cat"><a href="#">Travel</a></span>
                <span class="date">3 December 2019</span>
                <span class="pos">By <a href="#">Deniz</a></span>
            </p>
            <h2><a href="/Home/NYC">Destination : New York City</a></h2>
            <p>
                The City of New York, usually referred to as either New York City (NYC) or simply New York (NY),
                is the most populous city in the United States. With an estimated 2018 population of 8,398,748
                distributed over a land area of about 302.6 square miles (784 km2), New York is also the most densely
                populated major city in the United States. Located at the southern tip of the state of New York,
                the city is the center of the New York metropolitan area, the largest metropolitan area in the world
                by urban landmass and one of the world's most populous megacities, with an estimated
                19,979,477 people in its 2018 Metropolitan Statistical Area and 22,679,948 residents in its
                Combined Statistical Area. A global power city, New York City has been described as the cultural,
                financial, and media capital of the world, and exerts a significant impact upon commerce,
                entertainment, research, technology, education, politics, tourism, art, fashion, and sports. The city's fast pace
                has inspired the term New York minute. Home to the headquarters of the United Nations, New York is an
                important center for international diplomacy.Situated on one of the world's largest natural harbors,
                New York City consists of five boroughs, each of which is a separate county of the State of New York.
                The five boroughs – Brooklyn, Queens, Manhattan, The Bronx, and Staten Island – were consolidated into
                a single city in 1898. The city and its metropolitan area constitute the premier gateway for legal immigration
                to the United States. As many as 800 languages are spoken in New York, making it the most linguistically
                diverse city in the world.New York City is home to more than 3.2 million residents born outside the United States,
                the largest foreign-born population of any city in the world.As of 2019, the New York metropolitan area
                is estimated to produce a gross metropolitan product (GMP) of US$1.9 trillion. If greater New York City
                were a sovereign state, it would have the 12th highest GDP in the world. New York is home to the highest
                number of billionaires of any city in the world.
            </p>
        </div>
    </div>
</div>