<div class="colorlib-loader"></div>
<aside id="colorlib-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12 breadcrumbs text-center">
                <h2>Santa Monica</h2>
                <p><span><a href="index.html">Travel</a></span> / <span>Santa Monica</span></p>
            </div>
        </div>
    </div>
</aside>
<div class="col-md-12">
    <div class="blog-entry">
        <div class="blog-img">
            <a href="/Home/SantaMon">
                <img src="~/travel/pacificpark.PNG" class="img-responsive">
            </a>
        </div>
        <div class="desc">
            <p class="meta">
                <span class="cat"><a href="#">Travel</a></span>
                <span class="date">3 December 2019</span>
                <span class="pos">By <a href="#">Deniz</a></span>
            </p>
            <h2><a href="/Home/SantaMon">Destination : Santa Monica</a></h2>
            <p>
                Santa Monica is a beachfront city in western Los Angeles County, California, United States.
                Situated on Santa Monica Bay, it is bordered on three sides by the city of Los Angeles – Pacific Palisades to the north, 
                Brentwood on the northeast, West Los Angeles on the east, Mar Vista on the southeast, and Venice on the south. 
                The 2010 U.S. Census population was 89,736. Due in part to an agreeable climate, Santa Monica became a famed 
                resort town by the early 20th century. The city has experienced a boom since the late 1980s through the revitalization
                of its downtown core, significant job growth and increased tourism. The Santa Monica Pier and Pacific Park remain popular destinations.
            </p>
        </div>
    </div>
</div>