<div class="colorlib-loader"></div>
<aside id="colorlib-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12 breadcrumbs text-center">
                <h2>Las Vegas</h2>
                <p><span><a href="index.html">Travel</a></span> / <span>Las Vegas</span></p>
            </div>
        </div>
    </div>
</aside>
<div class="col-md-12">
    <div class="blog-entry">
        <div class="blog-img">
            <a href="/Home/Vegas">
                <img src="~/travel/vegas.jpg" class="img-responsive">
            </a>
        </div>
        <div class="desc">
            <p class="meta">
                <span class="cat"><a href="#">Travel</a></span>
                <span class="date">3 December 2019</span>
                <span class="pos">By <a href="#">Deniz</a></span>
            </p>
            <h2><a href="/Home/Vegas">Destination : Vegas</a></h2>
            <p>
                The city bills itself as The Entertainment Capital of the World, and is famous for its mega casino–hotels
                and associated activities. It is a top three destination in the United States for business conventions and
                a global leader in the hospitality industry, claiming more AAA Five Diamond hotels than any other city in the world.
                Today, Las Vegas annually ranks as one of the world's most visited tourist destinations. The city's tolerance 
                for numerous forms of adult entertainment earned it the title of "Sin City", and has made Las Vegas a popular setting 
                for literature, films, television programs, and music videos. Las Vegas was settled in 1905 and officially incorporated in 1911.
                At the close of the 20th century, it was the most populated American city founded within that century (a similar distinction earned by Chicago in the 1800s).
                Population growth has accelerated since the 1960s, and between 1990 and 2000 the population nearly doubled, increasing by 85.2%. 
                Rapid growth has continued into the 21st century, and according to estimates from the U.S. Census Bureau, the city had 648,224 residents in 2018,
                with a metropolitan population of 2,227,053. As with most major metropolitan areas, the name of the primary city ("Las Vegas" in this case) is often
                used to describe areas beyond official city limits. In the case of Las Vegas, this especially applies to the areas on and near the Las Vegas Strip, 
                which is actually located within the unincorporated communities of Paradise and Winchester.
            </p>
        </div>
    </div>
</div>