<div class="colorlib-loader"></div>
<aside id="colorlib-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12 breadcrumbs text-center">
                <h2>Video</h2>
                <p><span><a href="index.html">Blog</a></span> / <span>Video</span></p>
            </div>
        </div>
    </div>
</aside>
<div class="row row-pb-md">
    <div class="col-md-12">
        <div class="blog-entry">
            <div class="blog-img">
                <div class="video colorlib-video" style="background-image: url(~/travel/blogleesburg.jpg);">
                    <a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-play"></i></a>
                    <div class="overlay"></div>
                </div>
            </div>
            <div class="desc">
                <p class="meta">
                    <span class="cat"><a href="#">Blog</a></span>
                    <span class="date">3 December 2019</span>
                    <span class="pos">By <a href="#">Deniz</a></span>
                </p>
                <h2><a href="/Home/Video">Watch our unforgettable memories!</a></h2>
                <p></p>
            </div>
        </div>
    </div>
</div>

